/* You can add global styles to this file, and also import other style files */
/* h1{
    color: white;
    background-color:black ;
    max-width: 6em;
    
}
ul{
    color:aliceblue;
    background-color: black;
} */
header{
    background-color: red;
}
footer{
    background-color: aqua;
}