<div class="card mb-10 bg-dark" style="margin:auto;height:fit-content;width: fit-content;" >
    <div class="card border-dark mb-5" *ngIf="habilitar == true">
    <div class="card-header"> <b>Clientes</b></div>
    
      <div class="card-body">
      <h5 class="card-title mb-5"><b>Lista de Clientes</b> </h5>
      <div class="form-group row my-2"style="border: solid red 1px;">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
      </div>
      <table class=" table table-bordered table-striped" style="width: 40rem;" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.fecha}}</td>

            </tr>
        </tbody>
      </table>
     
    </div>
    
  </div>
  
  <button type="button" (click)="setHabilitar()" class="btn btn-primary my-3" style="min-width: 40rem; position: relative;">{{habilitar==true?'Ocultar':'Mostrar'}}</button>